<%= render :partial => 'admin/shared/configuration_menu' %>

<div class='toolbar'>
  <ul class='actions'>
    <li>
      <p><%= button_link_to t("new_user_group"), new_object_url,  :icon => 'add',
                                                                    :id => 'admin_new_user_groups_link' %>
    </p>
    </li>
  </ul>
  <br class='clear' />
</div>


<h1><%=t("listing_user_groups")%></h1>
<table class="index" id='listing_user_groups'>
  <thead>
    <tr>
      <th><%= UserGroup.human_attribute_name(:name) %></th>
      <th><%= t(:description) %>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @user_groups.each do |user_group|%>
      <tr id="<%= dom_id user_group %>">
        <td><%= user_group.name %></td>
        <td><%= user_group.calculator_description %></td>
        <td class="actions">
		  <%= link_to 'Pricing',"/admin/user_groups/#{user_group.id}/pricing" if user_group.calculator.class == Calculator::PerVariantPricing %> &nbsp;
          <%= link_to_edit user_group %> &nbsp;
          <%= link_to_delete user_group %>
      </tr>
    <% end %>
    <% if @user_groups.empty? %>
      <tr><td colspan="3"><%= t(:none) %></td></tr>
    <% end %>
  </tbody>
</table>

