<% curr_product = '' %>
<table class="index" id='listing_user_group_variants'>
  <% Spree::Variant.order(:product_id).each do |v| %>
    <% if curr_product != v.product_id %>
      <% curr_product = v.product_id %>
      <tr>
        <td colspan="3">
          <h2><%= v.product.name %></h2>
        </td>
      </tr>
    <% end %>

    <% ugv = Spree::UserGroupsVariant.where(:user_group_id => @user_group).where(:variant_id => v).first %>
    <tr>
      <td>
        <%= variant_options(v) || Spree.t(:master) %> (<%= v.sku %>)
      </td>
      <td>
        Base Price (<%= v.price || Spree.t(:master).downcase %>)
      <td>
        <div data-hook="price" class="field">
          <%= text_field_tag "price[#{@user_group.id}][#{v.id}]", (ugv.price if ugv), :class => 'fullwidth' %>
        </div>
      </td>
    </tr>
  <% end %>
</table>
