<%= render :partial => '/spree/admin/shared/configuration_menu' %>

<h1><%=t("new_user_group")%></h1>

<%= render '/spree/shared/error_messages', :target => @user_group %>

<%= form_for(:user_group, :url => collection_url) do |f| %>
  <%= render :partial => "form", :locals => { :f => f } %>
  <%= render :partial => "/spree/admin/shared/new_resource_links" %>
<% end %>
